.gridCell.highlight {
    background-color: rgb(57, 60, 57);
    color: white;
}

#sumResultMarked {
    overflow: auto;
    border-radius: 2px;
    width: 300px;
    border: 1px solid;
}

#sumResultAll {
    width: 300px;
    border: 1px solid;
    border-radius: 2px;
}