/* Filled grid cell */
.gridCell.filled {
    background-color: black;
    color: transparent; 
}

.gridCell.filled:hover {
    background-color: rgb(244, 156, 4);
    cursor: pointer;
}

.gridCell:hover {
    background-color: gray;
}