/* Filled grid cell */
.gridCell.filled {
    background-color: red;
    color: transparent; /* Ensure text is hidden */
}

/* Orange hover effect for filled grid cell */
.gridCell.filled:hover {
    background-color: orange;
    cursor: pointer;
}

.gridCell:hover {
    background-color: gray;
}