/* Filled grid cell */
.gridCell.filled {
    background-color: red;
    color: transparent; 
}

.gridCell.filled:hover {
    background-color: orange;
    cursor: pointer;
}

.gridCell:hover {
    background-color: gray;
}